html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  zoom: 67%;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

.myContainer {
  margin-left: 11.5%;
  margin-right: 11.5%;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 38px;
  padding-top: 1rem;
}

li {
  display: flex;
  justify-items: center;
  align-items: flex-end;
}
#brand {
  color: #005769;
  font-size: 38px;
  font-weight: 700;
  display: inline;
  width: 37%;
}

header {
  background-image: url("assets/image-main.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 62%;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.header-text {
  text-transform: capitalize;
  font-size: 68px;
  font-weight: bold;
  color: #333333;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 21%;
}

/* navigation bar links */

.link {
  padding: 10px;
  margin-right: 2px;
  color: #777777;
  font-weight: bold;
  font-size: 19px;
}

.link:hover {
  background: #16d6d1;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

/* main section with pictures */

.row {
  margin-top: 8%;
  margin-bottom: 8%;
  display: flex;
}

.box30 {
  height: 100%;
  width: calc (30% - 20px);
}

.box700 .box070 {
  height: 100%;
  width: calc(70% - 20px);
  display: flex;
  flex-direction: column;
}

.box700 {
  margin-left: 20px;
}

.box070 {
  margin-right: 20px;
}

img {
  height: 100%;
  width: 100%;
}

.splitTop {
  display: flex;
  justify-content: flex-end;
}

.splitBottom {
  background-color: #f6f8fa;
  padding-top: calc(17% / 2);
  padding-bottom: calc(17% / 2);
  /* padding-left: 40px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.readMore {
  background-color: #16d6d1;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  margin-right: 2px;
  color: #777777;
  font-weight: bold;
  font-size: 19px;
}

.readMore:hover {
  text-decoration: none;
}

h2 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}

.largeText {
  font-size: 39px;
  font-weight: 700;
  color: #333333;
  width: 50%;
  text-align: center;
}

/* row 2 */

.card-image5 {
  margin-right: 20px;
}

.box50 {
  height: 100%;
  width: calc(50% - 35px);
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #f6f8fa;
  margin: 0;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}

.topFooter {
  display: flex;
  justify-content: space-around;
  padding: 70px 0px;
}

.list11 {
  font-weight: 600;

  display: flex;

  flex-direction: column;
}

.list22 {
  font-weight: 600;

  display: flex;

  flex-direction: column;
}

.footerText {
  font-size: 20px;
  color: #777777;
  font-weight: 500;
  width: 40%;
}

.bottomFooter {
  font-size: 20px;
  font-weight: 500;
  color: #777777;
  background-color: #f6f8fa;
  border-top: solid 2px #777777;
  padding: 2% 0;
}
